[submodule "modules/dluautils"]
	path = modules/dluautils
	url = https://github.com/m241dan/dluautils
[submodule "modules/droutine"]
	path = modules/droutine
	url = https://github.com/m241dan/droutine
